*{
    box-sizing: border-box;
    margin: 0;
}
body {
    
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
}

/*Starting with the index page design
*/
header{
    text-align: center;
}

p {
    font-family: 'Pokemon Solid';
    text-align: center;
}

.navbar ul {
margin: 0;
padding: 0;
list-style-type: none;
word-spacing: 100px;
background-color: red;
text-align: center;
overflow: hidden;
}

.navbar li{
    font-family: 'Pokemon Solid';
    display: inline;
}

.navbar li a{
    text-decoration: none;
    font-family: 'Pokemon Solid';
    border: 1px solid black;
    margin-left: 20px;
    color: black;
    margin-right: 2px;
    font-size: 15px;
    transition: 0.2s;
    text-align: center;
    float: left;


}

.navbar li a:hover{
    color: rgb(182, 211, 211);
}

.navbar li a:active{
   color: blueviolet; 
}
