*{
    box-sizing: border-box;
    margin: 0;
}
/*Starting with the index page design
*/
header{
    text-align: center;
}

p {
    font-family: 'Pokemon Solid';
}

nav ul {
margin: 0;
list-style-type: none;
}

nav li{

}

